
html,body {
	background-color: #ded6e7;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #584869;
	font-family: 'Monda', sans-serif;
}

header {
	height: 100px;
	text-align: center;
	border-bottom: 2px solid #584869;
	background-color: #b2cfce; 
}

header h1,h2 {
	margin-top: 2px;
	margin-bottom: 2px;
	color: #4f5c5b;
}

footer a {
	text-decoration: none;
	color: #4f5c5b;
}

footer a:hover {
	color: #584869;
}

.site {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

.site-content {
	flex-grow: 1;
}

#main {
	padding-top: 60px;
	padding-bottom: 60px;
}

#cards {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#cards img {
	height: 300px;
}

#cards h2 {
	color: #584869;
}

.card {
	margin: 0 auto;
	padding: 10px;
	width: 480px;
}

.card img {
	border: 2px solid #584869;
	border-radius: 8px;
}

.title {
	display: flex;
	justify-content: space-between;
}

.title .fa {
	padding-top: 5px;
	color: #584869;
}

.title .fa:hover {
	color: #4f5c5b;
}

.title a {
	text-decoration: none;
}

#cards h2:hover {
	color: #4f5c5b;
}

.tech-used {
	font-style: italic;
}

footer {
	height: 100px;
	border-top: 2px solid #584869;
	background-color: #b2cfce;
	color: #4f5c5b;
}

#footer-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#footer-icons a {
	padding: 5px;
	padding-top: 15px;
}

#email {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	margin-top: 0px;
}

@media screen and (max-width: 600px) {
	#cards {
		width: 100%;
	}

	#cards img {
		width: 100%;
		height: auto;
	}
}
